<launch>
    <include file="$(find kinova_bringup)/launch/kinova_robot.launch" >
      <arg name="kinova_robotType" value="j2s7s300"/>
      <arg name="feedback_publish_rate" value="0.01"/>
    </include>

    <node pkg="cv_camera" type="cv_camera_node" name="camera" />
    <node pkg="ros_interface" type="jaco.py" name="jaco_interface" output="screen"/>
    <node pkg="ros_interface" type="robot_server.py" name="robot_server" output="screen"/>
</launch>
